/* 전체 폰트설정*/


/* 헤더 지우기*/
header.css-147i1ru.e8zbici2 {
height: 0rem
}

/* 페이지 배경색 본문 */
.stApp {
    background-color: rgba(251,235,207,1); 
}
    .st-emotion-cache-12fmjuu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 3.75rem;
    background: rgb(255, 241, 219);
    outline: none;
    z-index: 999990;
    display: block;
}    
/* 페이지 배경색 상단*/
.st-emotion-cache-1yiq2ps {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    place-content: flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    position: absolute;
    inset: 0px;
    overflow: hidden;
    background: rgb(255, 241, 219);
}
/* 사이드바 */
.st-emotion-cache-6qob1r {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: overlay;
    background-color: rgb(97, 112, 153);
}

.st-emotion-cache-1whx7iy p {
    word-break: break-word;
    margin-bottom: 0px;
    font-size: 14px;
}

.st-emotion-cache-1vt4y43 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    min-height: 2.5rem;
    margin: 0px;
    line-height: 1.6;
    color: inherit;
    width: auto;
    user-select: none;
    background-color: transparent;
    border: 1px solid rgba(49, 51, 63, 0.2);
}
/* 사이드바//페이지 선택창 */
.st-emotion-cache-187vdiz p {
    word-break: break-word;
    margin-bottom: 0px;
    font-size: 15px;
}

/* 이미지 */
img {
    max-width: 100%;
  }

/* 설렉트박스 테두리색 */
.st-cs {
    border-bottom-color: rgb(212, 189, 172);
}
.st-cr {
    border-top-color:  rgb(212, 189, 172);
}
.st-cq {
    border-right-color: rgb(212, 189, 172);
}

.st-cp {
    border-left-color: rgb(212, 189, 172);
}

.object-key-val {
    background-color: rgb(255, 241, 219);
}
